.image_cat {
    width: 750px;
    height: 290px;
    /*margin-top: 50px;*/
}
.contact_block {
    position: absolute;
    right: 0;
    opacity: 0;
    animation: fade-in 0.5s ease-in-out forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.iconViber {
    width: 40px;
    height: 40px;
    position: absolute;
    margin-left: 260px;
    margin-top: 200px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}
.iconWhatsUp {
    width: 40px;
    height: 40px;
    position: absolute;
    margin-left: 295px;
    margin-top: 200px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}
.iconTelegram {
    width: 40px;
    height: 40px;
    position: absolute;
    margin-left: 330px;
    margin-top: 200px;
    cursor: pointer;
    background-color: transparent;
    border: none;
}
.closeIcon {
    position: absolute;
    width: 200px;
    height: 200px;
    margin-top: 50px;
    /*margin-left: 480px;*/
    cursor: pointer;
    background-color: transparent;
    border: none;
}
.iconViber:hover {
    width: 55px;
    height: 55px;
    margin-left: 255px;
}
.iconWhatsUp:hover {
    width: 55px;
    height: 55px;
    margin-left: 290px;
}
.iconTelegram:hover {
    width: 55px;
    height: 55px;
    margin-left: 320px;
}
.closeIcon:hover {
    z-index: auto;
}