.container_page {
    width: 100%;
    min-height: 100%;
    padding-bottom: 50px;
    position: relative;
}
.container_boxes {
    margin-left: 60px;
}

.boxes_block {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.box {
    width: 356px;
    height: 338px;
    border: 1px solid #b4b0b0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.text {
    width: 350px;
    font-weight: 400;
    text-align: center;
    font-size: 24px;
    line-height: 28.77px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.image_style {
    position: absolute;
    bottom: 10px;
    left: 20px;
    width: 48px;
    height: 45px;
}
.image_cat {
    width: 750px;
    height: 290px;
    margin-top: 50px;
}
.no_background {
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    bottom: -250px;
    right: 90px;
    height: 300px;
}
.imageBlock {
    position: absolute;
    z-index: -1;
    opacity: 0.2;
    width: 356px;
    height: 338px;
}
.imageBlockEnter {
    position: absolute;
    width: 356px;
    height: 338px;
}
.button {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

@media screen and (max-width: 670px) {
    .no_background {
        position: static;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
}

