@font-face {
    font-family: 'custom-font';
    src: url("assets/fonts/2237-font.otf") format('opentype');
}

body {
    font-family: custom-font;
    padding: 0;
    margin: 0;
}
:root {
    --first-color: hsl(28, 88%, 62%);
    --title-color: hsl(0, 0%, 95%);
    --text-color: hsl(0, 0%, 75%);
    --body-color: hsl(0, 0%, 6%);
    --body-font: "Montserrat", sans-serif;
    --second-font: "Dancing Script", cursive;
    --h2-font-size: 1.25rem;
    --small-font-size: 0.813rem;
    --font-semi-bold: 600;
    --z-tooltip: 10;
    --z-fixed: 100;
}

