.nav__logo {
    color: var(--first-color);
    transition: color 0.4s;
    font-size: var(--h2-font-size);
    font-family: var(--second-font);
    margin-top: 10px;
    margin-left: 50px;
    cursor: pointer;
}